{% extends 'base.html.twig' %}

{% block body %}
    <!-- Page Header -->
    <header class="container masthead p-5 mb-3">
        <div class="site-heading text-center">
            <h1>SymfoDoggos</h1>
            <span class="subheading">Reddit, mais pour les doggos</span>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container col-7">
        {% for post in posts %}
            {% include "post/post.html.twig" %}
        {% endfor %}

        {% if pagination.nbPages > 0 %}
            <div class="clearfix">
                {% if pagination.page > 1 %}
                    <a class="clearfix btn btn-primary float-left"  href="{{ path(pagination.nomRoute,
                        pagination.paramsRoute|merge({'page': pagination.page-1})) }}">
                        Newer posts
                    </a>
                {% endif %}

                {% if pagination.page < pagination.nbPages %}
                    <a class="clearfix btn btn-primary float-right"  href="{{ path(pagination.nomRoute,
                        pagination.paramsRoute|merge({'page': pagination.page+1})) }}">
                        Older posts
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}


