.up-vote, .down-vote {
    cursor: pointer;
}

.up-vote-toggled, .down-vote-toggled {
    cursor: not-allowed;
}

a:hover {
    text-decoration: none;
}

figure {
    display: block;
    width: 40%;
    height: 40vh;
    background-position: center;
    background-size: cover;
    margin:0;
}