{% extends 'base.html.twig' %}

{% block body %}
    <!-- Page Header -->
    <header class="container masthead p-5 mb-3">
        <div class="site-heading text-center">
            <h1>{{ posts|length }} result{% if posts|length > 1 %}s{% endif %} for "{{ query }}"</h1>
            {% if posts|length == 0 %}
                <span class="subheading">Sorry ...</span>
            {% endif %}
        </div>
    </header>

    <!-- Main Content -->
    <div class="container col-7">
        {% for post in posts %}
            {% include "post/preview.html.twig" %}
        {% endfor %}

        {% if pagination.nbPages > 0 %}
            {% if pagination.page > 1 %}
                <div class="clearfix">
                    <a class="btn btn-primary float-left"  href="{{ path(pagination.nomRoute,
                        pagination.paramsRoute|merge({'page': pagination.page-1, 'q': query})) }}">
                        Newer posts
                    </a>
                </div>
            {% endif %}

            {% if pagination.page < pagination.nbPages %}
                <div class="clearfix">
                    <a class="btn btn-primary float-right"  href="{{ path(pagination.nomRoute,
                        pagination.paramsRoute|merge({'page': pagination.page+1, 'q': query})) }}">
                        Older posts
                    </a>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}


