<div class="posts-list">
    <div class="container col-7">

    {% for post in posts %}
        {% include "post/preview.html.twig" %}
    {% endfor %}

    {% if pagination.nbPages > 0 %}
        <div class="clearfix">
            {% if pagination.page > 1 %}
                <a class="clearfix btn btn-primary float-left"  href="{{ path(pagination.nomRoute,
                    pagination.paramsRoute|merge({'page': pagination.page-1})) }}">
                    Newer posts
                </a>
            {% endif %}

            {% if pagination.page < pagination.nbPages %}
                <a class="clearfix btn btn-primary float-right"  href="{{ path(pagination.nomRoute,
                    pagination.paramsRoute|merge({'page': pagination.page+1})) }}">
                    Other posts
                </a>
            {% endif %}
        </div>
    {% endif %}
</div>
</div>