{% extends 'base.html.twig' %}

{% block title %}Hello Post!{% endblock %}

{% block body %}
    <div class="container my-3 pt-5">
        {% include "post/post.html.twig" %}
    </div>
    <br/>
{% endblock %}
