<div class="mt-5 p-3"></div>
<footer class="fixed-bottom row bg-light p-2 border-top">
    <p class="m-auto copyright text-muted">Copyright &copy; SymfoDoggos - 2020</p>
    <div  class="m-auto copyright text-muted">
        Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a>
        from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>
</footer>
