<div class="container masthead p-5 mb-3">
    <div class="d-flex p-3 flex-row  align-items-center">
        <button class=" sort-trigger newest-posts btn-lg btn-primary mx-2">
            Newest    </button>
        <button class=" sort-trigger best-posts  btn btn-lg btn-primary mx-2">
            Top    </button>
    </div>

</div>


