<div class="container masthead p-5 mb-3">
    <div class="d-flex p-3 flex-row  align-items-center">
        <button  class="sort-trigger btn-lg btn-primary mx-2" data-category="newest-posts">
            Newest    </button>
        <button class="sort-trigger btn btn-lg btn-primary mx-2" data-category="best-posts">
            Top    </button>
    </div>

</div>


