{% extends 'base.html.twig' %}

{% block title %}{{ app.user.username }}{% endblock %}

{% block body %}
    <!-- Page Header -->
    <header class="masthead p-5 my-3" >
        <div class="overlay"></div>
        <div class="container">
            <div class="site-heading text-center">
                <h1>{{ app.user.username }}</h1>
            </div>
        </div>
    </header>

    <div class="container">
    content<br/>
    <a class="btn btn-primary" href="{{url('app_logout')}}"> Logout </a>
    </div>
{% endblock %}
