{% extends 'base.html.twig' %}

{% block title %}{{ userLoggedIn.username }}{% endblock %}

{% block body %}
    <!-- Page Header -->
    <header class="container masthead p-5 mb-3">
        <div class="site-heading text-center">
            <span class="subheading">Joined on {{ userLoggedIn.createdAt|date('d/m/Y \\a\\t H:i') }}</span>
            <h1>{{ userLoggedIn.username }}</h1>
        </div>
    </header>

    <!-- Content -->
    <div class="container">
        {% if userLoggedIn.posts|length %}
            <h2 class="">Posts</h2>
            <hr>
            <div class="mx-4">
                {% for post in userLoggedIn.posts %}
                    {% include "post/post.html.twig" with {'routeName':'profile'} %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
